.app_about-section {
    display: flex;
    align-items: center;
    font-family: 'Karla', sans-serif;
    margin: 50px;
    flex-wrap: wrap;
  }
  
  .app__about-image-holder {
    position: relative;
  }
  
  .img-box-2 {
    position: absolute;
    top: -60px;
    left: 180px;
  }
  
  .app__about-image-box {
    width: 200px;
    height: 200px;
    margin-right: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    border-radius: 10px;
  }
  
  .app_about-description-box {
    max-width: 60%;
    margin-right: auto;
  }
  
  .app__about-description {
    margin-top: 50px;
    width: 80%;
    text-align: justify;
    font-size: 18px;
    color: #495E57;
  }
  
  .app__about-title {
    font-size: 64px;
    color: #F4CE14;
  }
  
  .app__about-subtitle {
    margin-top: 7px;
    font-size: 40px;
    color: #495E57;
  }
  
 
  @media screen and (max-width: 1020px) {
    .app__about-image-box {
      width: 150px; 
      height: 150px; 
      margin-right: 20px; 
    }
  
    .app_about-section {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .app_about-description-box {
      width: 100%; 
      text-align: center;
    }
  
    .img-box-2 {
      position: relative;
      top: 20px; 
      left: 0;
    }
  }
  
  @media screen and (max-width: 700px) {
    .img-box-2 {
      display: none; 
    }
  

  }
  